<form action="/todos" method="post">
  <label>Title: <input type="text" name="todo[title]"/></label><br/>
  <label>Description: <textarea name="todo[description]"></textarea></label>
  <input type="submit"/>
</form>